body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #333;
  padding: 8px;
  text-align: left;
}

th {
  background: #f4f4f4;
}

button {
  margin: 10px 0;
  margin-left: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.special-button {
  margin: 0px;
}

.reading {
  background-color: red;
  color: white;
}

.completed {
  background-color: green;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  padding-right: 39px;
}
.modal-content input {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}
